/doc/
/libs/
.crystal/
/.shards/
example/server
/
# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock
/worksheet.cr
carbon
.idea/
Gemfile
Gemfile.lock
middlewares.txt
